
<div class="container">
  <h1>Inflow Value Details</h1>

  <h3>Inflow Value:</h3>
  <p>Name: <%= @kudotype.name %></p>

  <%= link_to 'Edit', edit_kudotype_path(@kudotype) %> |
  <%= link_to 'Back', kudotypes_path %>

</div>
