<div class="jumbotron">


  <h1>Inflow Kudos</h1>

  <h3>Give kudos to share the awesome stuff your coworkers have done<h3>

  <% if user_signed_in? %>

  <h2>

    <%= link_to "Give Kudos", new_kudo_path,
    :class => "btn btn-default btn-lg main-btn" %>

  </h2>

  <% else %>

  <h2>

    <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2),
    :class => "btn btn-default btn-lg main-btn" %>

  </h2>

  <h3 id="notice"><%= notice %> </h3>

  <% end %>


</div>



