<div class="jumbotron">


  <h1>Kudos Have Retired</h1>

  <p>You can now give HighFives inside 15five at any time separate from your weekly report. Just click on HighFives in the main navigation.</p>

  <p>Any time you give someone a HighFive in 15five, it will be shared in the #kudos channel in Slack with the whole company. </p>

  <p>Who will you HighFive today?</p>

  <% if user_signed_in? %>

  <h2>

    <%= link_to "View Kudos", kudos_path,
    :class => "btn btn-default btn-lg main-btn" %>

  </h2>

  <% else %>

  <h2>

    <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2),
    :class => "btn btn-default btn-lg main-btn" %>

  </h2>

  <h3 id="notice"><%= notice %> </h3>

  <% end %>


</div>



