<div class="container">
  <h1>User Info</h1>

  <h3>User</h3>
  <p>Name: <%= @user.name if @user.name %></p>
  <p>Email: <%= @user.email if @user.email %></p>
  <p>Kudos Given: <%= @user.given_kudos.count %></p>
  <p>Kudos Received: <%= @user.received_kudos.count %></p>
</div>
