<% content_for :title do %>About<% end %>
<div id="about-container" class="container-fluid">
<h1>About Inflow Kudos</h1>
<h4>
Inflow Kudos are a way to give props (kudos) to your fellow Inflowers to acknowledge
the awesome things that go on behind the scenes.
</h4>
<h4>
Giving kudos is a great way to get and give positive peer-to-peer feedback.
</h4>
</div>
