body {
  background-color: #113663;
  color: #333;
  font-family: 'Lato', sans-serif;
}

p, ol, ul, td {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

pre {
  background-color: #113663;
  padding: 10px;
  font-size: 11px;
}

h1 {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
}

a {
  color: #ffffff;
  &:visited {
    // color: #666;
  }
  &:hover {
    color: #b1d1e2;
    // background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: 1.25em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
}

.form-label {
  color: #B1D1E2;
  margin-bottom: -4px;
  padding-bottom: -2px;
}

.kudocomments {
  height: 50px;
  width: 300px;
  // background-color: white;
  color: #113663;
  font-size: 1em;
  word-wrap: break-word;
}


#checkbox-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #B1D1E2;
}

#kudotypecheckbox {
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 5px;
  width: 40%;
  padding-top: 5px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
